ResearchProjectDefinitionList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ArrayOfResearchProjectDefinition" nillable="true" type="ArrayOfResearchProjectDefinition" />
	<xs:complexType name="ArrayOfResearchProjectDefinition">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ResearchProjectDefinition" nillable="true" type="ResearchProjectDefinition" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchProjectDefinition">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="ResearchProjectId" type="xs:short" />
			<xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:float" />
			<xs:element minOccurs="0" maxOccurs="1" name="InitiationCost" type="Price" />
			<xs:element minOccurs="0" maxOccurs="1" name="AdditionalRequirements" type="Requirements" />
			<xs:element minOccurs="1" maxOccurs="1" name="EnabledByDefault" type="xs:boolean" />
			<xs:element minOccurs="1" maxOccurs="1" name="ProjectAppearanceProbability" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="Column" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="Row" type="xs:float" />
			<xs:element minOccurs="0" maxOccurs="1" name="AllowedRaceIds" type="ArrayOfRaceProbability" />
			<xs:element minOccurs="0" maxOccurs="1" name="DisallowedRaceIds" type="ArrayOfRaceProbability" />
			<xs:element minOccurs="0" maxOccurs="1" name="ParentProjects" type="ArrayOfResearchPath" />
			<xs:element minOccurs="0" maxOccurs="1" name="PrerequisiteProjects" type="ArrayOfResearchPath" />
			<xs:element minOccurs="0" maxOccurs="1" default="1" name="ParentProjectsMinimumPathCount" type="xs:int" />
			<xs:element minOccurs="0" maxOccurs="1" default="1" name="ParentProjectsMaximumPathCountRatio" type="xs:float" />
			<xs:element minOccurs="0" maxOccurs="1" default="1" name="PrerequisiteProjectsMinimumPathCount" type="xs:int" />
			<xs:element minOccurs="0" maxOccurs="1" default="1" name="PrerequisiteProjectsMaximumPathCountRatio" type="xs:float" />
			<xs:element minOccurs="0" maxOccurs="1" name="Components" type="ArrayOfComponent" />
			<xs:element minOccurs="0" maxOccurs="1" name="PlanetaryFacilityIds" type="ArrayOfShort" />
			<xs:element minOccurs="0" maxOccurs="1" name="ShipHulls" type="ArrayOfShipHullReference" />
			<xs:element minOccurs="0" maxOccurs="1" name="ColonizationSuitabilityModifiers" type="ArrayOfOrbTypeFactor" />
			<xs:element minOccurs="0" maxOccurs="1" name="MinimumColonizationSuitabilityModifiers" type="ArrayOfOrbTypeFactor" />
			<xs:element minOccurs="0" maxOccurs="1" name="TroopTechs" type="ArrayOfTroopTech" />
			<xs:element minOccurs="0" maxOccurs="1" name="EmpireBonuses" type="ArrayOfBonus" />
			<xs:element minOccurs="0" maxOccurs="1" name="PlagueBonuses" type="ArrayOfBonus" />
			<xs:element minOccurs="0" maxOccurs="1" name="DiplomacyFactors" type="ArrayOfEmpireIncidentFactor" />
			<xs:element minOccurs="0" maxOccurs="1" name="DiplomacyFactorRaceIds" type="ArrayOfUnsignedByte" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Price">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Money" type="xs:float" />
			<xs:element minOccurs="0" maxOccurs="1" name="Resources" type="ArrayOfResourceQuantity" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfResourceQuantity">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceQuantity" nillable="true" type="ResourceQuantity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceQuantity">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="ResourceId" type="xs:short" />
			<xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Requirements">
		<xs:all>
			<xs:element minOccurs="0" maxOccurs="1" name="PlanetaryFacilityIds" type="ArrayOfShort" />
			<xs:element minOccurs="1" maxOccurs="1" name="ResearchBonusType" type="BonusType" />
			<xs:element minOccurs="1" maxOccurs="1" name="ResearchBonusAmount" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="GovernmentId" type="xs:short" />
			<xs:element minOccurs="0" maxOccurs="1" name="ArtifactIds" type="ArrayOfInt" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfShort">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="short" type="xs:short" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BonusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undefined" />
			<xs:enumeration value="ResearchAll" />
			<xs:enumeration value="ResearchSensors" />
			<xs:enumeration value="ResearchWeapons" />
			<xs:enumeration value="ResearchHyperDrive" />
			<xs:enumeration value="ResearchReactor" />
			<xs:enumeration value="ResearchShields" />
			<xs:enumeration value="ResearchEngines" />
			<xs:enumeration value="ResearchArmor" />
			<xs:enumeration value="ResearchConstruction" />
			<xs:enumeration value="ResearchHighTech" />
			<xs:enumeration value="ResearchIndustrial" />
			<xs:enumeration value="ColonyIncome" />
			<xs:enumeration value="ColonyDevelopment" />
			<xs:enumeration value="ColonyHappiness" />
			<xs:enumeration value="ColonyPopulationGrowthRate" />
			<xs:enumeration value="ColonyDefense" />
			<xs:enumeration value="ColonyCorruptionReduction" />
			<xs:enumeration value="Scenery" />
			<xs:enumeration value="Diplomacy" />
			<xs:enumeration value="TradeIncome" />
			<xs:enumeration value="TourismIncome" />
			<xs:enumeration value="MiningRate" />
			<xs:enumeration value="WarWearinessReduction" />
			<xs:enumeration value="CharacterAppearanceTroopGeneral" />
			<xs:enumeration value="CharacterAppearanceFleetAdmiral" />
			<xs:enumeration value="CharacterAppearanceShipCaptain" />
			<xs:enumeration value="CharacterAppearanceIntelligenceAgent" />
			<xs:enumeration value="CharacterAppearanceScientist" />
			<xs:enumeration value="CharacterAppearanceColonyGovernor" />
			<xs:enumeration value="CharacterAppearanceAmbassador" />
			<xs:enumeration value="CharacterQualityLeader" />
			<xs:enumeration value="CharacterQualityPirate" />
			<xs:enumeration value="CharacterQualityTroopGeneral" />
			<xs:enumeration value="CharacterQualityFleetAdmiral" />
			<xs:enumeration value="CharacterQualityShipCaptain" />
			<xs:enumeration value="CharacterQualityIntelligenceAgent" />
			<xs:enumeration value="CharacterQualityScientist" />
			<xs:enumeration value="CharacterQualityColonyGovernor" />
			<xs:enumeration value="CharacterQualityAmbassador" />
			<xs:enumeration value="ConstructionSpeedAllShips" />
			<xs:enumeration value="ConstructionSpeedMilitary" />
			<xs:enumeration value="ConstructionSpeedCivilian" />
			<xs:enumeration value="ConstructionSpeedColonyShip" />
			<xs:enumeration value="ConstructionSpeedFacility" />
			<xs:enumeration value="ShipMaintenanceAll" />
			<xs:enumeration value="ShipMaintenanceMilitary" />
			<xs:enumeration value="ShipMaintenanceCivilian" />
			<xs:enumeration value="ShipMaintenanceBases" />
			<xs:enumeration value="TroopMaintenance" />
			<xs:enumeration value="TroopRecruitment" />
			<xs:enumeration value="TroopGroundAttack" />
			<xs:enumeration value="TroopGroundDefense" />
			<xs:enumeration value="TroopExperienceGain" />
			<xs:enumeration value="TroopRecoveryRate" />
			<xs:enumeration value="RecruitedTroopStrengthAll" />
			<xs:enumeration value="RecruitedTroopStrengthArmor" />
			<xs:enumeration value="RecruitedTroopStrengthInfantry" />
			<xs:enumeration value="RecruitedTroopStrengthSpecialForces" />
			<xs:enumeration value="RecruitedTroopStrengthPlanetaryDefense" />
			<xs:enumeration value="RecruitedTroopStrengthTitan" />
			<xs:enumeration value="Espionage" />
			<xs:enumeration value="CounterEspionage" />
			<xs:enumeration value="Sabotage" />
			<xs:enumeration value="Concealment" />
			<xs:enumeration value="PsyOps" />
			<xs:enumeration value="Assassination" />
			<xs:enumeration value="Targeting" />
			<xs:enumeration value="Countermeasures" />
			<xs:enumeration value="ShipManeuvering" />
			<xs:enumeration value="ShipEnergyUsage" />
			<xs:enumeration value="WeaponsDamage" />
			<xs:enumeration value="WeaponsRange" />
			<xs:enumeration value="ShieldRechargeRate" />
			<xs:enumeration value="DamageControl" />
			<xs:enumeration value="RepairRate" />
			<xs:enumeration value="HyperjumpSpeed" />
			<xs:enumeration value="ShipSpeed" />
			<xs:enumeration value="ArmorStrength" />
			<xs:enumeration value="BoardingAssault" />
			<xs:enumeration value="BoardingDefense" />
			<xs:enumeration value="RaidIncome" />
			<xs:enumeration value="ScanEvasion" />
			<xs:enumeration value="ScanFocusing" />
			<xs:enumeration value="PlanetaryFacilityMaintenance" />
			<xs:enumeration value="PlagueCuring" />
			<xs:enumeration value="PlagueContainment" />
			<xs:enumeration value="ResearchTroops" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfInt">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfRaceProbability">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RaceProbability" nillable="true" type="RaceProbability" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RaceProbability">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="RaceId" type="xs:unsignedByte" />
			<xs:element minOccurs="1" maxOccurs="1" name="Probability" type="xs:float" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfResearchPath">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ResearchPath" nillable="true" type="ResearchPath" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchPath">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="ResearchProjectId" type="xs:short" />
			<xs:element minOccurs="1" maxOccurs="1" name="PathAppearanceLikelihood" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:unsignedByte" />
			<xs:element minOccurs="0" maxOccurs="1" default="-1" name="RaceId" type="xs:short" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfComponent">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="Component" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Component">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="ComponentId" type="xs:short" />
			<xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:unsignedByte" />
			<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfShipHullReference">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ShipHullReference" nillable="true" type="ShipHullReference" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipHullReference">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Role" type="ShipRole" />
			<xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:unsignedByte" />
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="ShipRole">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undefined" />
			<xs:enumeration value="Escort" />
			<xs:enumeration value="Frigate" />
			<xs:enumeration value="Destroyer" />
			<xs:enumeration value="Cruiser" />
			<xs:enumeration value="CapitalShip" />
			<xs:enumeration value="Carrier" />
			<xs:enumeration value="TroopTransport" />
			<xs:enumeration value="FreighterSmall" />
			<xs:enumeration value="FreighterMedium" />
			<xs:enumeration value="FreighterLarge" />
			<xs:enumeration value="MiningShip" />
			<xs:enumeration value="ConstructionShip" />
			<xs:enumeration value="ExplorationShip" />
			<xs:enumeration value="PassengerShip" />
			<xs:enumeration value="ColonyShip" />
			<xs:enumeration value="SpaceportSmall" />
			<xs:enumeration value="SpaceportMedium" />
			<xs:enumeration value="SpaceportLarge" />
			<xs:enumeration value="MiningStation" />
			<xs:enumeration value="DefensiveBase" />
			<xs:enumeration value="ResearchStation" />
			<xs:enumeration value="MonitoringStation" />
			<xs:enumeration value="ResortBase" />
			<xs:enumeration value="FighterInterceptor" />
			<xs:enumeration value="FighterBomber" />
			<xs:enumeration value="FuelTanker" />
			<xs:enumeration value="PlanetDestroyer" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfOrbTypeFactor">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="OrbTypeFactor" type="OrbTypeFactor" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrbTypeFactor">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="OrbTypeId" type="xs:unsignedByte" />
			<xs:element minOccurs="1" maxOccurs="1" name="Factor" type="xs:float" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfTroopTech">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TroopTech" nillable="true" type="TroopTech" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TroopTech">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Type" type="TroopType" />
			<xs:element minOccurs="1" maxOccurs="1" name="MaintenanceFactor" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="RecoveryRateFactor" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="AttackStrengthFactor" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="DefendStrengthFactor" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="SabotageStrengthFactor" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="InterceptWeaponComponentLevelIncrease" type="xs:unsignedByte" />
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="TroopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undefined" />
			<xs:enumeration value="Infantry" />
			<xs:enumeration value="Armored" />
			<xs:enumeration value="PlanetaryDefense" />
			<xs:enumeration value="SpecialForces" />
			<xs:enumeration value="Titan" />
			<xs:enumeration value="Raider" />
			<xs:enumeration value="Militia" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfBonus">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Bonus" nillable="true" type="Bonus" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bonus">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Type" type="BonusType" />
			<xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="AppliesTo" type="BonusAppliesTo" />
			<xs:element minOccurs="0" maxOccurs="1" default="-1" name="FilterId" type="xs:short" />
			<xs:element minOccurs="1" maxOccurs="1" name="DiscoveryLevel" type="xs:unsignedByte" />
			<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="BonusAppliesTo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undefined" />
			<xs:enumeration value="Item" />
			<xs:enumeration value="Empire" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfEmpireIncidentFactor">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="EmpireIncidentFactor" nillable="true" type="EmpireIncidentFactor" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmpireIncidentFactor">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Type" type="EmpireIncidentFactorType" />
			<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="DecayRate" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="TargetValue" type="xs:float" />
			<xs:element minOccurs="1" maxOccurs="1" name="AdditionalValue" type="xs:float" />
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="EmpireIncidentFactorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Undefined" />
			<xs:enumeration value="FirstContact" />
			<xs:enumeration value="Gift" />
			<xs:enumeration value="DiplomaticDemands" />
			<xs:enumeration value="HonorDefenseTreaty" />
			<xs:enumeration value="InterceptedEspionage" />
			<xs:enumeration value="AngerAtExposure" />
			<xs:enumeration value="AttacksOnMilitary" />
			<xs:enumeration value="AttacksOnCivilian" />
			<xs:enumeration value="ColonyInvaded" />
			<xs:enumeration value="Bombardment" />
			<xs:enumeration value="EnslavePopulation" />
			<xs:enumeration value="ExterminatePopulation" />
			<xs:enumeration value="ColonyDestroyed" />
			<xs:enumeration value="UnjustifiedWar" />
			<xs:enumeration value="WarDeclared" />
			<xs:enumeration value="WarDeclaredLongTerm" />
			<xs:enumeration value="BrokenTreaty" />
			<xs:enumeration value="ShipIntrusions" />
			<xs:enumeration value="InvadeIndependentColony" />
			<xs:enumeration value="DestroyCreature" />
			<xs:enumeration value="DestroyPirateShipBase" />
			<xs:enumeration value="TradeDeals" />
			<xs:enumeration value="ColonizationAttempt" />
			<xs:enumeration value="IndependentColonyIntegration" />
			<xs:enumeration value="TreatySigned" />
			<xs:enumeration value="GiftLongTerm" />
			<xs:enumeration value="TreatyLongTermNonAggression" />
			<xs:enumeration value="TreatyLongTermTerritoryMap" />
			<xs:enumeration value="TreatyLongTermGalaxyMap" />
			<xs:enumeration value="TreatyLongTermExploration" />
			<xs:enumeration value="TreatyLongTermLimitedTrade" />
			<xs:enumeration value="TreatyLongTermFreeTrade" />
			<xs:enumeration value="TreatyLongTermMiningRights" />
			<xs:enumeration value="TreatyLongTermMigration" />
			<xs:enumeration value="TreatyLongTermMilitaryRefuelling" />
			<xs:enumeration value="TreatyLongTermOperationsMap" />
			<xs:enumeration value="TreatyLongTermResearch" />
			<xs:enumeration value="TreatyLongTermIntelligence" />
			<xs:enumeration value="TreatyLongTermDefense" />
			<xs:enumeration value="BrokenNonAggression" />
			<xs:enumeration value="WarDuringNonAggression" />
			<xs:enumeration value="BrokenDefense" />
			<xs:enumeration value="WarDuringDefense" />
			<xs:enumeration value="DisapprovalOfPirates" />
			<xs:enumeration value="PirateDisapproval" />
			<xs:enumeration value="Ambassador" />
			<xs:enumeration value="TreatyLongTermPirateProtection" />
			<xs:enumeration value="BrokenPirateProtection" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfUnsignedByte">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="unsignedByte" type="xs:unsignedByte" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>