schema/DesignTemplateList.xsd

<!--v1.1.9.7-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfDesignTemplate" nillable="true" type="ArrayOfDesignTemplate" />
  <xs:complexType name="ArrayOfDesignTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DesignTemplate" nillable="true" type="DesignTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesignTemplate">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="DesignTemplateId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="Role" type="ShipRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="Priorities" type="ArrayOfComponentCategoryPriority" />
      <xs:element minOccurs="0" maxOccurs="1" name="TacticsDefault" type="BattleTactics" />
      <xs:element minOccurs="0" maxOccurs="1" name="ComponentSelectionOverrideFactors" type="ComponentSelectionFactors" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineVectoringCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArmorCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="DockingBayCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConstructionYardCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="CargoBayCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="FuelTankCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ColonizationModuleCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="EnergyCollectorCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiningComponentCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RemoteFuelTransferCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="FighterBayCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperStopCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDenyCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="IonDefenseCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerLongRangeCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerShortRangeCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerTraceCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerJammerCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerJumpTrackingCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerEmpireMaskingCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerRoleMaskingCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="MedicalBayCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassengerCompartmentCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RecreationCenterCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="TractorBeamCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="TroopCompartmentCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaShieldCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="CommerceCenterCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="DamageControlCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetingCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountermeasuresCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="FleetTargetingCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="FleetCountermeasuresCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="EnergyToFuelCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchLabCount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="StealthCount" type="xs:unsignedByte" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="ShipRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Escort" />
      <xs:enumeration value="Frigate" />
      <xs:enumeration value="Destroyer" />
      <xs:enumeration value="Cruiser" />
      <xs:enumeration value="CapitalShip" />
      <xs:enumeration value="Carrier" />
      <xs:enumeration value="TroopTransport" />
      <xs:enumeration value="FreighterSmall" />
      <xs:enumeration value="FreighterMedium" />
      <xs:enumeration value="FreighterLarge" />
      <xs:enumeration value="MiningShip" />
      <xs:enumeration value="ConstructionShip" />
      <xs:enumeration value="ExplorationShip" />
      <xs:enumeration value="PassengerShip" />
      <xs:enumeration value="ColonyShip" />
      <xs:enumeration value="SpaceportSmall" />
      <xs:enumeration value="SpaceportMedium" />
      <xs:enumeration value="SpaceportLarge" />
      <xs:enumeration value="MiningStation" />
      <xs:enumeration value="DefensiveBase" />
      <xs:enumeration value="ResearchStation" />
      <xs:enumeration value="MonitoringStation" />
      <xs:enumeration value="ResortBase" />
      <xs:enumeration value="FighterInterceptor" />
      <xs:enumeration value="FighterBomber" />
      <xs:enumeration value="FuelTanker" />
      <xs:enumeration value="PlanetDestroyer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfComponentCategoryPriority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentCategoryPriority" nillable="true" type="ComponentCategoryPriority" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentCategoryPriority">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Category" type="ComponentCategory" />
      <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="ComponentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Armor" />
      <xs:enumeration value="Shields" />
      <xs:enumeration value="Engine" />
      <xs:enumeration value="EngineVectoring" />
      <xs:enumeration value="HyperDrive" />
      <xs:enumeration value="Reactor" />
      <xs:enumeration value="Extractor" />
      <xs:enumeration value="Construction" />
      <xs:enumeration value="EnergyCollector" />
      <xs:enumeration value="DockingBay" />
      <xs:enumeration value="TargetingComputer" />
      <xs:enumeration value="Countermeasures" />
      <xs:enumeration value="CommandCenter" />
      <xs:enumeration value="CommerceCenter" />
      <xs:enumeration value="DamageControl" />
      <xs:enumeration value="CrewQuarters" />
      <xs:enumeration value="MedicalCenter" />
      <xs:enumeration value="RecreationCenter" />
      <xs:enumeration value="Colonization" />
      <xs:enumeration value="TractorBeam" />
      <xs:enumeration value="FighterBay" />
      <xs:enumeration value="AssaultPod" />
      <xs:enumeration value="HyperDeny" />
      <xs:enumeration value="HyperBlock" />
      <xs:enumeration value="AreaShieldRecharge" />
      <xs:enumeration value="TroopCompartment" />
      <xs:enumeration value="PassengerCompartment" />
      <xs:enumeration value="TargetingComputerFleet" />
      <xs:enumeration value="CountermeasuresFleet" />
      <xs:enumeration value="WeaponCloseIn" />
      <xs:enumeration value="WeaponStandoff" />
      <xs:enumeration value="WeaponIon" />
      <xs:enumeration value="WeaponIntercept" />
      <xs:enumeration value="WeaponBombard" />
      <xs:enumeration value="WeaponArea" />
      <xs:enumeration value="ScannerLongRange" />
      <xs:enumeration value="ScannerJammer" />
      <xs:enumeration value="ScannerTrace" />
      <xs:enumeration value="ScannerExploration" />
      <xs:enumeration value="ScannerExplorationSurvey" />
      <xs:enumeration value="ScannerJumpTracking" />
      <xs:enumeration value="ScannerEmpireMasking" />
      <xs:enumeration value="ScannerRoleMasking" />
      <xs:enumeration value="EnergyToFuel" />
      <xs:enumeration value="ResearchLab" />
      <xs:enumeration value="Stealth" />
      <xs:enumeration value="CargoBay" />
      <xs:enumeration value="FuelStorage" />
      <xs:enumeration value="IonDefense" />
      <xs:enumeration value="Troops" />
      <xs:enumeration value="RemoteFuelTransfer" />
      <xs:enumeration value="Diplomacy" />
      <xs:enumeration value="ShieldEnhancement" />
      <xs:enumeration value="ScannerShortRange" />
      <xs:enumeration value="AncientKnowledge" />
      <xs:enumeration value="Terraforming" />
      <xs:enumeration value="WeaponPsychic" />
      <xs:enumeration value="PsychicDefense" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BattleTactics">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EngagementRange" type="TacticsEngagementType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttackRangeNormal" type="TacticsStance" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttackRangeStronger" type="TacticsStance" />
      <xs:element minOccurs="0" maxOccurs="1" name="RetreatWhen" type="TacticsRetreatType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoleWithinFleet" type="TacticsRoleWithinFleet" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvadeWhen" type="TacticsInvasion" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetStickinessFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetSelectionRules" type="TacticalTargetSelectionRuleSet" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngagementRangeZeroFuel" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngagementRangeSquaredZeroFuel" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="TacticsEngagementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DoNotEngage" />
      <xs:enumeration value="EngageWhenAttacked" />
      <xs:enumeration value="Nearby" />
      <xs:enumeration value="Location" />
      <xs:enumeration value="System" />
      <xs:enumeration value="SectorRange" />
      <xs:enumeration value="FuelRange33" />
      <xs:enumeration value="FuelRange50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TacticsStance">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Evade" />
      <xs:enumeration value="Cautious" />
      <xs:enumeration value="Neutral" />
      <xs:enumeration value="Aggressive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TacticsRetreatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EnemySightedSystem" />
      <xs:enumeration value="EnemySightedLocation" />
      <xs:enumeration value="EnemyNearby" />
      <xs:enumeration value="WhenAttacked" />
      <xs:enumeration value="Shields50OrArmor99" />
      <xs:enumeration value="Shields20OrArmor50" />
      <xs:enumeration value="Never" />
      <xs:enumeration value="Shields50OrAnyDamage" />
      <xs:enumeration value="Shields20OrAnyDamage" />
      <xs:enumeration value="Shields0OrArmor0" />
      <xs:enumeration value="LightDamage" />
      <xs:enumeration value="ModerateDamage" />
      <xs:enumeration value="NonDefenseComponentDestroyedOrDamaged1" />
      <xs:enumeration value="NonDefenseComponentDestroyedOrDamaged20" />
      <xs:enumeration value="NonDefenseComponentDestroyedOrDamaged50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TacticsRoleWithinFleet">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Attack" />
      <xs:enumeration value="CloseEscort" />
      <xs:enumeration value="Picket" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TacticsInvasion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvadeImmediately" />
      <xs:enumeration value="InvadeWhenClear" />
      <xs:enumeration value="NeverInvade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TacticalTargetSelectionRuleSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TargetSelectionRules" type="ArrayOfShipRoleFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfShipRoleFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipRoleFactor" type="ShipRoleFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipRoleFactor">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Role" type="ShipRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="Factor" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ComponentSelectionFactors">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="SmallSizeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="FighterFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArmorFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TractorBeamFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerLongFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerTraceFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDenyFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperStopFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountermeasuresFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetingFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DamageControlFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineManeuveringFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="IonDefenseFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="StealthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TroopCompartmentFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConstructionYardFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchLabFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInDamageRawFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInDamageAtRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInDamageAtRangeRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponCloseInEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffDamageRawFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffDamageAtRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffDamageAtRangeRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponStandoffEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponInterceptEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonEngineDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonWeaponDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonGeneralDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonHyperDriveDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonSensorDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonShieldDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonEngineDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonHyperDriveDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonSensorDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonShieldDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonWeaponDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonGeneralDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponIonEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageInfrastructureFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageMilitaryFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamagePopulationFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageQualityFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageRateInfrastructureFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageRateMilitaryFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageRatePopulationFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardDamageRateQualityFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponBombardEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaDamageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaFireRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponAreaEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArmorStrengthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArmorReactiveFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldStrengthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldRechargeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldResistanceFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldPenetrationChanceFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShieldPenetrationRatioFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveSpeedFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveJumpRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveJumpAccuracyFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveInitiationTimeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDriveRechargeTimeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaShieldRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaShieldPowerFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AreaShieldEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodStrengthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodShieldPenetrationFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultPodLaunchRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssaultDefenseFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DamageReductionFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DamageRepairFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DockingBayThroughputFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DockingBayShipCountFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineMaximumThrustFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineCruiseThrustFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="EngineVectoringFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="FighterBayCapacityFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="FighterBayBuildRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="FighterBayRepairRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperStopRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperStopStrengthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDenyRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HyperDenyStrengthFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerLongRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerLongPowerFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationPowerFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationSurveyAmountFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationSurveyMaximumLevelFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationSurveyTimeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerExplorationTimeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerTraceRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerTracePowerFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerEmpireMaskingFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScannerRoleMaskingFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReactorOutputFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReactorStorageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReactorFuelUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TractorBeamPowerFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TractorBeamRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TractorBeamEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponPsychicControlFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponPsychicDamageRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponPsychicDamageRawFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponPsychicEnergyUsageFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="WeaponPsychicRangeFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="PsychicDefenseFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TerraformingDamageRepairFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TerraformingQualityImprovementFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TerraformingFactor" type="xs:float" />
    </xs:all>
  </xs:complexType>
</xs:schema>