schema/GovernmentList.xsd

<!--v1.1.9.7-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfGovernment" nillable="true" type="ArrayOfGovernment" />
  <xs:complexType name="ArrayOfGovernment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Government" nillable="true" type="Government" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Government">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="GovernmentId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EconomicFactors" type="EconomyFactorSet" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementTypicalPeriod" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementDisruption" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementBoost" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementCharacterPool" type="ArrayOfCharacterRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementTypicalManner" type="LeaderReplacementType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementCharacterPositiveTraitChance" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="LeaderReplacementCharacterDismissChance" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Stability" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConcernForOwnReputation" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImportanceOfOthersReputations" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsesCabinet" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorNavalChief" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorGroundForcesChief" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorIntelligenceDirector" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorHeadDiplomat" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorScienceAdministrator" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CabinetFactorTradeIndustryAdministrator" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="UseBaseForCapital" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CanColonize" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequiresColoniesToExist" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CanRaid" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="AllowControlMiningShips" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmpireNameAdjectives" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmpireNameNouns" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Biases" type="ArrayOfIndexFactor" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bonuses" type="ArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartingGameEventNames" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExtraIntelligenceMissionTypes" type="ArrayOfCharacterMissionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MigrationFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchBreakthroughProgressChance" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchBreakthroughProgressAmountRatio" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchCrashProgressChance" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResearchCrashProgressAmountRatio" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="ColonyGrowthFundingFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpendScientistCrashBreakthrough" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpendScientistCriticalResearchFailure" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="CharacterTraitFactorInspiringPresence" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="CharacterTraitFactorDemoralizing" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="LuxuryResourceConsumptionRateFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="HighColonyTroopPresenceHappinessBoost" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="UseFlagShip" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="FlagShipDestroyedColonyEventDefinitionId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="FlagShipPrevailsColonyEventDefinitionId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnjustifiedWarsGiveNoPenaltyToWarWeariness" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="HyperjumpAccuracyEmpireLocationModifier" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="WartimeColonyEventDefinitionId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="WarStartColonyEventDefinitionId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="MilitiaTroopDefinitionId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="MilitaryShipRolesBuiltByPrivateSector" type="ArrayOfShipRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="BonusesPerTreatyTypeTreaties" type="ArrayOfEmpireRelationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="BonusesPerTreatyType" type="ArrayOfArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradeIncomePerYearPerRestrictedTradeTreaty" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradeIncomePerYearPerLimitedTradeTreaty" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradeIncomePerYearPerFreeTradeTreaty" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="FeatureExplanations" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="EconomyFactorSet">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="IncomeFactors" type="ArrayOfFloat" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpenseFactors" type="ArrayOfFloat" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCharacterRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterRole" type="CharacterRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CharacterRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Leader" />
      <xs:enumeration value="Pirate" />
      <xs:enumeration value="Ambassador" />
      <xs:enumeration value="ColonyGovernor" />
      <xs:enumeration value="FleetAdmiral" />
      <xs:enumeration value="ShipCaptain" />
      <xs:enumeration value="TroopGeneral" />
      <xs:enumeration value="Scientist" />
      <xs:enumeration value="Spy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LeaderReplacementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="SimpleReplacement" />
      <xs:enumeration value="CoupDetat" />
      <xs:enumeration value="Election" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIndexFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexFactor" nillable="true" type="IndexFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndexFactor">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Factor" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfBonus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bonus" nillable="true" type="Bonus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Bonus">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="BonusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppliesTo" type="BonusAppliesTo" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="FilterId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="DiscoveryLevel" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="BonusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="ResearchAll" />
      <xs:enumeration value="ResearchSensors" />
      <xs:enumeration value="ResearchWeapons" />
      <xs:enumeration value="ResearchHyperDrive" />
      <xs:enumeration value="ResearchReactor" />
      <xs:enumeration value="ResearchShields" />
      <xs:enumeration value="ResearchEngines" />
      <xs:enumeration value="ResearchArmor" />
      <xs:enumeration value="ResearchConstruction" />
      <xs:enumeration value="ResearchHighTech" />
      <xs:enumeration value="ResearchIndustrial" />
      <xs:enumeration value="ColonyIncome" />
      <xs:enumeration value="ColonyDevelopment" />
      <xs:enumeration value="ColonyHappiness" />
      <xs:enumeration value="ColonyPopulationGrowthRate" />
      <xs:enumeration value="ColonyDefense" />
      <xs:enumeration value="ColonyCorruptionReduction" />
      <xs:enumeration value="Scenery" />
      <xs:enumeration value="Diplomacy" />
      <xs:enumeration value="TradeIncome" />
      <xs:enumeration value="TourismIncome" />
      <xs:enumeration value="MiningRate" />
      <xs:enumeration value="WarWearinessReduction" />
      <xs:enumeration value="CharacterAppearanceTroopGeneral" />
      <xs:enumeration value="CharacterAppearanceFleetAdmiral" />
      <xs:enumeration value="CharacterAppearanceShipCaptain" />
      <xs:enumeration value="CharacterAppearanceIntelligenceAgent" />
      <xs:enumeration value="CharacterAppearanceScientist" />
      <xs:enumeration value="CharacterAppearanceColonyGovernor" />
      <xs:enumeration value="CharacterAppearanceAmbassador" />
      <xs:enumeration value="CharacterQualityLeader" />
      <xs:enumeration value="CharacterQualityPirate" />
      <xs:enumeration value="CharacterQualityTroopGeneral" />
      <xs:enumeration value="CharacterQualityFleetAdmiral" />
      <xs:enumeration value="CharacterQualityShipCaptain" />
      <xs:enumeration value="CharacterQualityIntelligenceAgent" />
      <xs:enumeration value="CharacterQualityScientist" />
      <xs:enumeration value="CharacterQualityColonyGovernor" />
      <xs:enumeration value="CharacterQualityAmbassador" />
      <xs:enumeration value="ConstructionSpeedAllShips" />
      <xs:enumeration value="ConstructionSpeedMilitary" />
      <xs:enumeration value="ConstructionSpeedCivilian" />
      <xs:enumeration value="ConstructionSpeedColonyShip" />
      <xs:enumeration value="ConstructionSpeedFacility" />
      <xs:enumeration value="ShipMaintenanceAll" />
      <xs:enumeration value="ShipMaintenanceMilitary" />
      <xs:enumeration value="ShipMaintenanceCivilian" />
      <xs:enumeration value="ShipMaintenanceBases" />
      <xs:enumeration value="TroopMaintenance" />
      <xs:enumeration value="TroopRecruitment" />
      <xs:enumeration value="TroopGroundAttack" />
      <xs:enumeration value="TroopGroundDefense" />
      <xs:enumeration value="TroopExperienceGain" />
      <xs:enumeration value="TroopRecoveryRate" />
      <xs:enumeration value="RecruitedTroopStrengthAll" />
      <xs:enumeration value="RecruitedTroopStrengthArmor" />
      <xs:enumeration value="RecruitedTroopStrengthInfantry" />
      <xs:enumeration value="RecruitedTroopStrengthSpecialForces" />
      <xs:enumeration value="RecruitedTroopStrengthPlanetaryDefense" />
      <xs:enumeration value="RecruitedTroopStrengthTitan" />
      <xs:enumeration value="Espionage" />
      <xs:enumeration value="CounterEspionage" />
      <xs:enumeration value="Sabotage" />
      <xs:enumeration value="Concealment" />
      <xs:enumeration value="PsyOps" />
      <xs:enumeration value="Assassination" />
      <xs:enumeration value="Targeting" />
      <xs:enumeration value="Countermeasures" />
      <xs:enumeration value="ShipManeuvering" />
      <xs:enumeration value="ShipEnergyUsage" />
      <xs:enumeration value="WeaponsDamage" />
      <xs:enumeration value="WeaponsRange" />
      <xs:enumeration value="ShieldRechargeRate" />
      <xs:enumeration value="DamageControl" />
      <xs:enumeration value="RepairRate" />
      <xs:enumeration value="HyperjumpSpeed" />
      <xs:enumeration value="ShipSpeed" />
      <xs:enumeration value="ArmorStrength" />
      <xs:enumeration value="BoardingAssault" />
      <xs:enumeration value="BoardingDefense" />
      <xs:enumeration value="RaidIncome" />
      <xs:enumeration value="ScanEvasion" />
      <xs:enumeration value="ScanFocusing" />
      <xs:enumeration value="PlanetaryFacilityMaintenance" />
      <xs:enumeration value="PlagueCuring" />
      <xs:enumeration value="PlagueContainment" />
      <xs:enumeration value="ResearchTroops" />
      <xs:enumeration value="ResearchAncientKnowledge" />
      <xs:enumeration value="PsychicTargeting" />
      <xs:enumeration value="PsychicDefense" />
      <xs:enumeration value="PsychicEnergyGenerationRate" />
      <xs:enumeration value="PsychicCountermeasures" />
      <xs:enumeration value="PsychicSabotage" />
      <xs:enumeration value="PsychicEspionage" />
      <xs:enumeration value="PsychicCounterEspionage" />
      <xs:enumeration value="PsychicDiplomacy" />
      <xs:enumeration value="PsychicCounterDiplomacy" />
      <xs:enumeration value="ScannerRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BonusAppliesTo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Item" />
      <xs:enumeration value="Empire" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfCharacterMissionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterMissionType" type="CharacterMissionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CharacterMissionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="CounterIntelligence" />
      <xs:enumeration value="StealTerritoryMap" />
      <xs:enumeration value="StealGalaxyMap" />
      <xs:enumeration value="StealOperationsMap" />
      <xs:enumeration value="StealTechData" />
      <xs:enumeration value="SabotageConstruction" />
      <xs:enumeration value="SabotageColony" />
      <xs:enumeration value="DestroyBase" />
      <xs:enumeration value="InciteRevolution" />
      <xs:enumeration value="AssassinateCharacter" />
      <xs:enumeration value="DeepCover" />
      <xs:enumeration value="InfluenceEmpirePositively" />
      <xs:enumeration value="InfluenceEmpireNegatively" />
      <xs:enumeration value="CaptureBase" />
      <xs:enumeration value="InternalStabilization" />
      <xs:enumeration value="DefectCharacter" />
      <xs:enumeration value="InfectColonyWithPlague" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfShipRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipRole" type="ShipRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ShipRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Escort" />
      <xs:enumeration value="Frigate" />
      <xs:enumeration value="Destroyer" />
      <xs:enumeration value="Cruiser" />
      <xs:enumeration value="CapitalShip" />
      <xs:enumeration value="Carrier" />
      <xs:enumeration value="TroopTransport" />
      <xs:enumeration value="FreighterSmall" />
      <xs:enumeration value="FreighterMedium" />
      <xs:enumeration value="FreighterLarge" />
      <xs:enumeration value="MiningShip" />
      <xs:enumeration value="ConstructionShip" />
      <xs:enumeration value="ExplorationShip" />
      <xs:enumeration value="PassengerShip" />
      <xs:enumeration value="ColonyShip" />
      <xs:enumeration value="SpaceportSmall" />
      <xs:enumeration value="SpaceportMedium" />
      <xs:enumeration value="SpaceportLarge" />
      <xs:enumeration value="MiningStation" />
      <xs:enumeration value="DefensiveBase" />
      <xs:enumeration value="ResearchStation" />
      <xs:enumeration value="MonitoringStation" />
      <xs:enumeration value="ResortBase" />
      <xs:enumeration value="FighterInterceptor" />
      <xs:enumeration value="FighterBomber" />
      <xs:enumeration value="FuelTanker" />
      <xs:enumeration value="PlanetDestroyer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfEmpireRelationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpireRelationType" type="EmpireRelationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmpireRelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="FirstContact" />
      <xs:enumeration value="NonAggression" />
      <xs:enumeration value="RestrictedTrade" />
      <xs:enumeration value="LimitedTrade" />
      <xs:enumeration value="FreeTrade" />
      <xs:enumeration value="ResourceSupply" />
      <xs:enumeration value="Migration" />
      <xs:enumeration value="MiningRights" />
      <xs:enumeration value="MilitaryRefuelling" />
      <xs:enumeration value="Research" />
      <xs:enumeration value="Defense" />
      <xs:enumeration value="Exploration" />
      <xs:enumeration value="TerritoryMapSharing" />
      <xs:enumeration value="GalaxyMapSharing" />
      <xs:enumeration value="OperationsMapSharing" />
      <xs:enumeration value="IntelligenceSharing" />
      <xs:enumeration value="War" />
      <xs:enumeration value="Subjugation" />
      <xs:enumeration value="Peace" />
      <xs:enumeration value="PirateProtection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfArrayOfBonus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfBonus" nillable="true" type="ArrayOfBonus" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>