schema/ResearchProjectDefinitionList.xsd

<!--v1.1.9.7-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfResearchProjectDefinition" nillable="true" type="ArrayOfResearchProjectDefinition" />
  <xs:complexType name="ArrayOfResearchProjectDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResearchProjectDefinition" nillable="true" type="ResearchProjectDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResearchProjectDefinition">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ResearchProjectId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="InitiationCost" type="Price" />
      <xs:element minOccurs="0" maxOccurs="1" name="AdditionalRequirements" type="Requirements" />
      <xs:element minOccurs="1" maxOccurs="1" name="EnabledByDefault" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProjectAppearanceProbability" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Column" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Row" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="AllowedRaceIds" type="ArrayOfRaceProbability" />
      <xs:element minOccurs="0" maxOccurs="1" name="DisallowedRaceIds" type="ArrayOfRaceProbability" />
      <xs:element minOccurs="0" maxOccurs="1" name="ParentProjects" type="ArrayOfResearchPath" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrerequisiteProjects" type="ArrayOfResearchPath" />
      <xs:element minOccurs="1" maxOccurs="1" name="ParentProjectsMinimumPathCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="ParentProjectsMaximumPathCountRatio" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrerequisiteProjectsMinimumPathCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="PrerequisiteProjectsMaximumPathCountRatio" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Components" type="ArrayOfComponent" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlanetaryFacilityIds" type="ArrayOfShort" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShipHulls" type="ArrayOfShipHullReference" />
      <xs:element minOccurs="0" maxOccurs="1" name="ColonizationSuitabilityModifiers" type="ArrayOfOrbTypeFactor" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinimumColonizationSuitabilityModifiers" type="ArrayOfOrbTypeFactor" />
      <xs:element minOccurs="0" maxOccurs="1" name="TroopTechs" type="ArrayOfTroopTech" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmpireBonuses" type="ArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlagueBonuses" type="ArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="DiplomacyFactors" type="ArrayOfEmpireIncidentFactor" />
      <xs:element minOccurs="0" maxOccurs="1" name="DiplomacyFactorRaceIds" type="ArrayOfUnsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="RepeatableTechLimit" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepeatableComponentValues" type="ArrayOfComponentValues" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepeatableShipHullValues" type="ArrayOfShipHullValues" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepeatablePlanetaryFacilityValues" type="ArrayOfPlanetaryFacilityValues" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="RepeatableTechCostIncreaseFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatureInfluenceTypeIds" type="ArrayOfUnsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatureInfluenceLevels" type="ArrayOfFloat" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatureCounterInfluenceTypeIds" type="ArrayOfUnsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatureCounterInfluenceLevels" type="ArrayOfFloat" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Price">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Money" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Resources" type="ArrayOfResourceQuantity" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfResourceQuantity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceQuantity" nillable="true" type="ResourceQuantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceQuantity">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ResourceId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Requirements">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="PlanetaryFacilityIds" type="ArrayOfShort" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResearchBonusType" type="BonusType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResearchBonusAmount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="GovernmentId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArtifactIds" type="ArrayOfInt" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfShort">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="short" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BonusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="ResearchAll" />
      <xs:enumeration value="ResearchSensors" />
      <xs:enumeration value="ResearchWeapons" />
      <xs:enumeration value="ResearchHyperDrive" />
      <xs:enumeration value="ResearchReactor" />
      <xs:enumeration value="ResearchShields" />
      <xs:enumeration value="ResearchEngines" />
      <xs:enumeration value="ResearchArmor" />
      <xs:enumeration value="ResearchConstruction" />
      <xs:enumeration value="ResearchHighTech" />
      <xs:enumeration value="ResearchIndustrial" />
      <xs:enumeration value="ColonyIncome" />
      <xs:enumeration value="ColonyDevelopment" />
      <xs:enumeration value="ColonyHappiness" />
      <xs:enumeration value="ColonyPopulationGrowthRate" />
      <xs:enumeration value="ColonyDefense" />
      <xs:enumeration value="ColonyCorruptionReduction" />
      <xs:enumeration value="Scenery" />
      <xs:enumeration value="Diplomacy" />
      <xs:enumeration value="TradeIncome" />
      <xs:enumeration value="TourismIncome" />
      <xs:enumeration value="MiningRate" />
      <xs:enumeration value="WarWearinessReduction" />
      <xs:enumeration value="CharacterAppearanceTroopGeneral" />
      <xs:enumeration value="CharacterAppearanceFleetAdmiral" />
      <xs:enumeration value="CharacterAppearanceShipCaptain" />
      <xs:enumeration value="CharacterAppearanceIntelligenceAgent" />
      <xs:enumeration value="CharacterAppearanceScientist" />
      <xs:enumeration value="CharacterAppearanceColonyGovernor" />
      <xs:enumeration value="CharacterAppearanceAmbassador" />
      <xs:enumeration value="CharacterQualityLeader" />
      <xs:enumeration value="CharacterQualityPirate" />
      <xs:enumeration value="CharacterQualityTroopGeneral" />
      <xs:enumeration value="CharacterQualityFleetAdmiral" />
      <xs:enumeration value="CharacterQualityShipCaptain" />
      <xs:enumeration value="CharacterQualityIntelligenceAgent" />
      <xs:enumeration value="CharacterQualityScientist" />
      <xs:enumeration value="CharacterQualityColonyGovernor" />
      <xs:enumeration value="CharacterQualityAmbassador" />
      <xs:enumeration value="ConstructionSpeedAllShips" />
      <xs:enumeration value="ConstructionSpeedMilitary" />
      <xs:enumeration value="ConstructionSpeedCivilian" />
      <xs:enumeration value="ConstructionSpeedColonyShip" />
      <xs:enumeration value="ConstructionSpeedFacility" />
      <xs:enumeration value="ShipMaintenanceAll" />
      <xs:enumeration value="ShipMaintenanceMilitary" />
      <xs:enumeration value="ShipMaintenanceCivilian" />
      <xs:enumeration value="ShipMaintenanceBases" />
      <xs:enumeration value="TroopMaintenance" />
      <xs:enumeration value="TroopRecruitment" />
      <xs:enumeration value="TroopGroundAttack" />
      <xs:enumeration value="TroopGroundDefense" />
      <xs:enumeration value="TroopExperienceGain" />
      <xs:enumeration value="TroopRecoveryRate" />
      <xs:enumeration value="RecruitedTroopStrengthAll" />
      <xs:enumeration value="RecruitedTroopStrengthArmor" />
      <xs:enumeration value="RecruitedTroopStrengthInfantry" />
      <xs:enumeration value="RecruitedTroopStrengthSpecialForces" />
      <xs:enumeration value="RecruitedTroopStrengthPlanetaryDefense" />
      <xs:enumeration value="RecruitedTroopStrengthTitan" />
      <xs:enumeration value="Espionage" />
      <xs:enumeration value="CounterEspionage" />
      <xs:enumeration value="Sabotage" />
      <xs:enumeration value="Concealment" />
      <xs:enumeration value="PsyOps" />
      <xs:enumeration value="Assassination" />
      <xs:enumeration value="Targeting" />
      <xs:enumeration value="Countermeasures" />
      <xs:enumeration value="ShipManeuvering" />
      <xs:enumeration value="ShipEnergyUsage" />
      <xs:enumeration value="WeaponsDamage" />
      <xs:enumeration value="WeaponsRange" />
      <xs:enumeration value="ShieldRechargeRate" />
      <xs:enumeration value="DamageControl" />
      <xs:enumeration value="RepairRate" />
      <xs:enumeration value="HyperjumpSpeed" />
      <xs:enumeration value="ShipSpeed" />
      <xs:enumeration value="ArmorStrength" />
      <xs:enumeration value="BoardingAssault" />
      <xs:enumeration value="BoardingDefense" />
      <xs:enumeration value="RaidIncome" />
      <xs:enumeration value="ScanEvasion" />
      <xs:enumeration value="ScanFocusing" />
      <xs:enumeration value="PlanetaryFacilityMaintenance" />
      <xs:enumeration value="PlagueCuring" />
      <xs:enumeration value="PlagueContainment" />
      <xs:enumeration value="ResearchTroops" />
      <xs:enumeration value="ResearchAncientKnowledge" />
      <xs:enumeration value="PsychicTargeting" />
      <xs:enumeration value="PsychicDefense" />
      <xs:enumeration value="PsychicEnergyGenerationRate" />
      <xs:enumeration value="PsychicCountermeasures" />
      <xs:enumeration value="PsychicSabotage" />
      <xs:enumeration value="PsychicEspionage" />
      <xs:enumeration value="PsychicCounterEspionage" />
      <xs:enumeration value="PsychicDiplomacy" />
      <xs:enumeration value="PsychicCounterDiplomacy" />
      <xs:enumeration value="ScannerRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRaceProbability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceProbability" nillable="true" type="RaceProbability" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RaceProbability">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="RaceId" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Probability" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfResearchPath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResearchPath" nillable="true" type="ResearchPath" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResearchPath">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ResearchProjectId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="PathAppearanceLikelihood" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="RaceId" type="xs:short" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="Component" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Component">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ComponentId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfShipHullReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipHullReference" nillable="true" type="ShipHullReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipHullReference">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="ShipRole" />
      <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:unsignedByte" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="ShipRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Escort" />
      <xs:enumeration value="Frigate" />
      <xs:enumeration value="Destroyer" />
      <xs:enumeration value="Cruiser" />
      <xs:enumeration value="CapitalShip" />
      <xs:enumeration value="Carrier" />
      <xs:enumeration value="TroopTransport" />
      <xs:enumeration value="FreighterSmall" />
      <xs:enumeration value="FreighterMedium" />
      <xs:enumeration value="FreighterLarge" />
      <xs:enumeration value="MiningShip" />
      <xs:enumeration value="ConstructionShip" />
      <xs:enumeration value="ExplorationShip" />
      <xs:enumeration value="PassengerShip" />
      <xs:enumeration value="ColonyShip" />
      <xs:enumeration value="SpaceportSmall" />
      <xs:enumeration value="SpaceportMedium" />
      <xs:enumeration value="SpaceportLarge" />
      <xs:enumeration value="MiningStation" />
      <xs:enumeration value="DefensiveBase" />
      <xs:enumeration value="ResearchStation" />
      <xs:enumeration value="MonitoringStation" />
      <xs:enumeration value="ResortBase" />
      <xs:enumeration value="FighterInterceptor" />
      <xs:enumeration value="FighterBomber" />
      <xs:enumeration value="FuelTanker" />
      <xs:enumeration value="PlanetDestroyer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfOrbTypeFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrbTypeFactor" type="OrbTypeFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrbTypeFactor">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="OrbTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Factor" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfTroopTech">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TroopTech" nillable="true" type="TroopTech" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TroopTech">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="TroopType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaintenanceFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RecoveryRateFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttackStrengthFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefendStrengthFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="SabotageStrengthFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="InterceptWeaponComponentLevelIncrease" type="xs:unsignedByte" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="TroopType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Infantry" />
      <xs:enumeration value="Armored" />
      <xs:enumeration value="PlanetaryDefense" />
      <xs:enumeration value="SpecialForces" />
      <xs:enumeration value="Titan" />
      <xs:enumeration value="Raider" />
      <xs:enumeration value="Militia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfBonus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bonus" nillable="true" type="Bonus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Bonus">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="BonusType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AppliesTo" type="BonusAppliesTo" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="FilterId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="DiscoveryLevel" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="BonusAppliesTo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Item" />
      <xs:enumeration value="Empire" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfEmpireIncidentFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpireIncidentFactor" nillable="true" type="EmpireIncidentFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpireIncidentFactor">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="EmpireIncidentFactorType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DecayRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetValue" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AdditionalValue" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="EmpireIncidentFactorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="FirstContact" />
      <xs:enumeration value="Gift" />
      <xs:enumeration value="DiplomaticDemands" />
      <xs:enumeration value="HonorDefenseTreaty" />
      <xs:enumeration value="InterceptedEspionage" />
      <xs:enumeration value="AngerAtExposure" />
      <xs:enumeration value="AttacksOnMilitary" />
      <xs:enumeration value="AttacksOnCivilian" />
      <xs:enumeration value="ColonyInvaded" />
      <xs:enumeration value="Bombardment" />
      <xs:enumeration value="EnslavePopulation" />
      <xs:enumeration value="ExterminatePopulation" />
      <xs:enumeration value="ColonyDestroyed" />
      <xs:enumeration value="UnjustifiedWar" />
      <xs:enumeration value="WarDeclared" />
      <xs:enumeration value="WarDeclaredLongTerm" />
      <xs:enumeration value="BrokenTreaty" />
      <xs:enumeration value="ShipIntrusions" />
      <xs:enumeration value="InvadeIndependentColony" />
      <xs:enumeration value="DestroyCreature" />
      <xs:enumeration value="DestroyPirateShipBase" />
      <xs:enumeration value="TradeDeals" />
      <xs:enumeration value="ColonizationAttempt" />
      <xs:enumeration value="IndependentColonyIntegration" />
      <xs:enumeration value="TreatySigned" />
      <xs:enumeration value="GiftLongTerm" />
      <xs:enumeration value="TreatyLongTermNonAggression" />
      <xs:enumeration value="TreatyLongTermTerritoryMap" />
      <xs:enumeration value="TreatyLongTermGalaxyMap" />
      <xs:enumeration value="TreatyLongTermExploration" />
      <xs:enumeration value="TreatyLongTermLimitedTrade" />
      <xs:enumeration value="TreatyLongTermFreeTrade" />
      <xs:enumeration value="TreatyLongTermMiningRights" />
      <xs:enumeration value="TreatyLongTermMigration" />
      <xs:enumeration value="TreatyLongTermMilitaryRefuelling" />
      <xs:enumeration value="TreatyLongTermOperationsMap" />
      <xs:enumeration value="TreatyLongTermResearch" />
      <xs:enumeration value="TreatyLongTermIntelligence" />
      <xs:enumeration value="TreatyLongTermDefense" />
      <xs:enumeration value="BrokenNonAggression" />
      <xs:enumeration value="WarDuringNonAggression" />
      <xs:enumeration value="BrokenDefense" />
      <xs:enumeration value="WarDuringDefense" />
      <xs:enumeration value="DisapprovalOfPirates" />
      <xs:enumeration value="PirateDisapproval" />
      <xs:enumeration value="Ambassador" />
      <xs:enumeration value="TreatyLongTermPirateProtection" />
      <xs:enumeration value="BrokenPirateProtection" />
      <xs:enumeration value="IllegalActionsAsVassal" />
      <xs:enumeration value="SubjugationResentment" />
      <xs:enumeration value="WarDeclaredTooSoon" />
      <xs:enumeration value="ReleasePrisoner" />
      <xs:enumeration value="DestroyThreat" />
      <xs:enumeration value="ResearchDiplomacy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfUnsignedByte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="unsignedByte" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfComponentValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentValues" nillable="true" type="ComponentValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentValues">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ComponentId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="Values" type="ArrayOfComponentStats" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfComponentStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentStats" nillable="true" type="ComponentStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentStats">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="AreaShieldRechargeAmount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AreaShieldRechargeEnergyUsedPerUnitCharged" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AreaShieldRechargeRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArmorBlastRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArmorReactiveRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodBoardingRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodEnergyPerLaunch" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodLaunchRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodMovementSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodShieldPenetration" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssaultPodStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CargoCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ColonizationPopulationAmount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CommandMaintenanceSavings" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CommerceTradeBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ComponentCountermeasuresBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ComponentIonDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ComponentTargetingBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ConstructionBuildSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ConstructionRepairSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ConstructionYardCount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountermeasuresBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountermeasuresFleetBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CrewCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CrewRequirement" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="DamageReduction" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DamageRepair" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DestroyedRepairChance" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HullRepair" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DockingBayShipCount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DockingBayThroughput" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EnergyCollectionRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EnergyFuelProductionRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineMainCruiseThrust" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineMainCruiseThrustEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineMainMaximumThrust" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineMainMaximumThrustEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineVectoringEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineVectoringThrust" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExtractionRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExtractionRangeAsteroid" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RemoteFuelTransferRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RemoteFuelTransferRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterBayBuildRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterBayCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterBayRepairRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FuelStorageCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDenyEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDenyRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDenyStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveBlockingInsulation" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveJumpInitiationTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveJumpRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveRechargeTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDriveJumpAccuracy" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperStopRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperStopStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="IonDamageDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MedicalRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PassengerCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicControl" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicEnergyPerShot" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingDamageRepairRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingQualityImprovementRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingQualityMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatureWeaponReductionAmount" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="CreatureWeaponReductionTypeId" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="TroopRecruitmentDefinitionId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="TroopRecruitmentRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReactorEnergyOutputPerSecond" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReactorEnergyStorageCapacity" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="ReactorFuelResourceId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReactorFuelUnitsForFullCharge" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RecreationRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResearchLabOutput" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerEmpireMaskingPower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationPower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationSurveyAmount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationSurveyMaximumLevel" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationSurveyTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerExplorationTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerJammingPower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerJumpTrackingChance" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerLongRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerLongRangePower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerRoleMaskingPower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerTracePower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScannerTraceRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldRechargeRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldRechargeEnergyUsage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldResistance" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldPenetrationChance" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ShieldPenetrationRatio" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="StaticEnergyUsed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="StealthRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetingBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetingFleetBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetingBonusPerFleetShip" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamDwellTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamEnergyPerShot" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamFireRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamPower" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamPowerFalloff" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TractorBeamRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TroopCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponAreaEffectRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponAreaBlastWaveSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponArmorBypass" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponBombardDamageInfrastructure" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponBombardDamageMilitary" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponBombardDamagePopulation" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponBombardDamageQuality" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponDamageFalloffRatio" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponDamageType" type="WeaponDamageType" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponDwellTime" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponEnergyPerShot" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponFireRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponFireType" type="WeaponFireType" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptComponentTargetingBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptDamageDirectFire" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptDamageFighter" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptDamageFullLengthBeam" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptDamageSeeking" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptEnergyPerShot" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptFireRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponInterceptIonDamageRatio" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonEngineDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonHyperDriveDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonSensorDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonShieldDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonWeaponDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponIonGeneralDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponRawDamage" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponShieldBypass" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponSpeed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponVolleyAmount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponVolleyFireRate" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="WeaponDamageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Impact" />
      <xs:enumeration value="AreaEffect" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WeaponFireType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="DirectFire" />
      <xs:enumeration value="Seeking" />
      <xs:enumeration value="FullLengthBeam" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfShipHullValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipHullValues" nillable="true" type="ShipHullValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipHullValues">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="ShipHullId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="ShipRole" />
      <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaximumSize" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisplaySize" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseCost" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArmorReactiveRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="IonDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CountermeasuresBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetingBonus" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="BuildSpeedFactor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bonuses" type="ArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResourcesRequired" type="ArrayOfResourceQuantity" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfPlanetaryFacilityValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanetaryFacilityValues" nillable="true" type="PlanetaryFacilityValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlanetaryFacilityValues">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="PlanetaryFacilityDefinitionId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaintenanceCost" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PlanetaryShieldMaximumDamageAbsorbed" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PlanetaryShieldPenetrationChance" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="WeaponCount" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterCapacity" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterBuildRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="FighterRepairRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ColonyCorruptionReductionProjectionRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingDamageRepairRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingQualityImprovementRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerraformingQualityMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ColonyIncomeDrainRatio" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ColonyInfluenceLevelToBuild" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDenyRange" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HyperDenyStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MedicalRating" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="SlaveryIncomeFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="SlaveryUnhappinessFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="QualityBoost" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="BreedCreatureRate" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="ItemBonuses" type="ArrayOfBonus" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmpireBonuses" type="ArrayOfBonus" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>