schema/SpaceItemDefinitionList.xsd

<!--v1.1.9.7-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfSpaceItemDefinition" nillable="true" type="ArrayOfSpaceItemDefinition" />
  <xs:complexType name="ArrayOfSpaceItemDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpaceItemDefinition" nillable="true" type="SpaceItemDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpaceItemDefinition">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="SpaceItemDefinitionId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="SpaceItemType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModelName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MeshName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefaultSize" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="SizeRatioFactor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExpiryTimeMinimum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExpiryTimeMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="InitialRotationAlignsWithTravelDirection" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="HeadingRotationSpeedMinimum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="HeadingRotationSpeedMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PitchRotationSpeedMinimum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PitchRotationSpeedMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RollRotationSpeedMinimum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="RollRotationSpeedMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="InitialVelocityMinimum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="InitialVelocityMaximum" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="VelocityDecayRate" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanHoldMessage" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CanHoldCharacters" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="MoneyProbability" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="TechProbability" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MapProbability" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResourceProbability" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypicalResources" type="ArrayOfResourceQuantity" />
      <xs:element minOccurs="1" maxOccurs="1" name="GenerationEventType" type="SpaceItemGenerationEventType" />
      <xs:element minOccurs="1" maxOccurs="1" name="GenerationProbability" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="MaximumGenerationAmount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="MustBeGenerated" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="GenerationRelatedIds" type="ArrayOfInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="SpaceItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="ShipDebris" />
      <xs:enumeration value="CargoContainer" />
      <xs:enumeration value="CreatureCarcass" />
      <xs:enumeration value="CreatureDebris" />
      <xs:enumeration value="EscapePod" />
      <xs:enumeration value="ComputerCore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfResourceQuantity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceQuantity" nillable="true" type="ResourceQuantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceQuantity">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ResourceId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="SpaceItemGenerationEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="ShipDestroyed" />
      <xs:enumeration value="CreatureDestroyed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>