schema/TroopDefinitionList.xsd

<!--v1.1.9.7-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfTroopDefinition" nillable="true" type="ArrayOfTroopDefinition" />
  <xs:complexType name="ArrayOfTroopDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TroopDefinition" nillable="true" type="TroopDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TroopDefinition">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="TroopDefinitionId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="RaceId" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="TroopType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RecruitmentCost" type="Price" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaintenanceCost" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttackStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="DefendStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="SabotageStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EvasionInfantry" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EvasionArmor" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EvasionTitan" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EvasionPlanetaryDefense" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="EvasionSpecialForces" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsRobotic" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="InterceptWeaponComponentId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicStrength" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PsychicDefense" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageFilename" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="TroopType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Infantry" />
      <xs:enumeration value="Armored" />
      <xs:enumeration value="PlanetaryDefense" />
      <xs:enumeration value="SpecialForces" />
      <xs:enumeration value="Titan" />
      <xs:enumeration value="Raider" />
      <xs:enumeration value="Militia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Price">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Money" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="Resources" type="ArrayOfResourceQuantity" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfResourceQuantity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceQuantity" nillable="true" type="ResourceQuantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceQuantity">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="ResourceId" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:float" />
    </xs:all>
  </xs:complexType>
</xs:schema>